$btn-border-radius-base:  3px;
$input-border-radius:     3px;
$btn-border-radius-large: 3px;

$btn-primary-bg:     $brand-color3;
$btn-primary-border: $brand-color3;
$btn-default-bg:     $brand-color4;
$btn-default-border: $brand-color4;
$btn-default-color:  #fff;

$padding-base-vertical: 12px;

$font-size-base: 15px;
$icon-font-path: '../bower_components/bootstrap-sass/assets/fonts/bootstrap/';